 .u-section-1 {
  background-image: linear-gradient(rgba(173,255,47,0.79), #161820);
}

.u-section-1 .u-sheet-1 {
  min-height: 672px;
}

.u-section-1 .u-text-1 {
  font-weight: 600;
  margin: 170px 89px 0;
}

.u-section-1 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  font-size: 1.25rem;
  margin: 62px auto 0;
}

.u-section-1 .u-btn-2 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  font-size: 1.25rem;
  margin: 30px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}